<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Product Detail</h1>
  <table border="1">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Image</th>
    </tr>
    <tr>
      <td>1</td>
      <td><%= data.name %></td>
      <td><%= data.description %></td>
      <td><%= formatter.format(data.price) %></td>
      <td><%= data.stock %></td>
      <td><img src="<%= data.img%>"></td>
    </tr>
  </table>
</body>
</html> 