<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= data.name %></h1>
  <h3><%= data.address %></h3>

  <h1>Product List</h1><br>
  <table border="1">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <% data.Products.forEach((el, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= el.name %></td>
        <td><%= formatter.format(el.price) %></td>
        <td><a href="/sikomers/product/<%= el.id %>">see product</a></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>